<h1>Blog-Post Page</h1>
<hr>

<h3><%=@post.title %></h3>

<%= @post.description %>
        | <%= link_to 'Edit', edit_post_path(@post) %>
        | <%= link_to 'Delete', post_path(@post),
                                          :data => {:confirm => "You sure m8?",
                                                    :method => "delete"}%>

<h3>Tags: </h3>
<ul>
  <% @post.tags.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag) %>  <%= link_to 'edit tag', edit_post_tag_path(@post, tag) %> |
      <%= link_to "Delete", post_tag_path(@post, tag),
                            :data => {:confirm => "Ya sure mate?",
                                      :method => "delete"} %></li>
    <% end %>

</ul>

<h4><%= link_to "Add A Tag", new_post_tag_path(@post) %></h4>


<h3>Comments</h3>
<hr>

    <div class="comments">
      <% @comments.each do |comment| %>
        <div class="comment">
           <p>- <% if comment.user %>
             <%= comment.user.email%>:
             <% end %>
             <%= comment.body %></p>
        </div>

    </div>
   <% end %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.label :comment %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>
