<!DOCTYPE html>
<html>
<head>
  <title>BlogPost</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/navbar' %>


  <div class="container">
    <div class="container main-container">
      <% if notice %>
        <p id ="flash" class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p id ="flash" class="alert alert-danger"><%= alert %></p>
      <% end %>
      <br><br><br>
    <%= yield %>
  </div>
</body>
</html>
